<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.masasilam.app.mapper.newspaper.ArticleShareMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article_shares (article_id, user_id, platform, created_at)
        VALUES (#{articleId}, #{userId}, #{platform}, #{createdAt})
    </insert>
</mapper>