<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naskah.demo.mapper.EbookMapper">
    <insert id="insertEbook" parameterType="com.naskah.demo.model.pojo.EbookPojo">
        INSERT INTO ebooks
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="author != null">author,</if>
            <if test="year != null">year,</if>
            <if test="filePath != null">file_path,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="author != null">#{author},</if>
            <if test="year != null">#{year},</if>
            <if test="filePath != null">#{filePath},</if>
        </trim>
    </insert>

    <select id="countEbook" resultType="int">
        SELECT COUNT(*)
        FROM ebooks
        WHERE title = #{title} AND author = #{author} AND year = #{year}
    </select>

    <select id="getDetailEbook" resultType="com.naskah.demo.model.pojo.EbookPojo">
        SELECT id, title, author, year, file_path
        FROM ebooks
        WHERE id = #{id}
    </select>

    <select id="getListEbook" resultType="com.naskah.demo.model.pojo.EbookPojo">
        SELECT id, title, author, year, file_path
        FROM ebooks
        <if test="sortField != null and sortOrder != null">
            ORDER BY ${sortField} ${sortOrder}
        </if>
        <if test="offset >= 0">
            OFFSET #{offset}
        </if>
        <if test="limit >= 0">
            LIMIT #{limit}
        </if>
    </select>

    <update id="updateEbook" parameterType="com.naskah.demo.model.pojo.EbookPojo">
        UPDATE ebooks
        SET
        <trim suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="year != null">year = #{year},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteEbook">
        DELETE FROM ebooks
        WHERE id = #{id}
    </delete>

</mapper>