<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naskah.demo.mapper.GenreMapper">

    <select id="findGenresByBookId" resultType="com.naskah.demo.model.dto.response.GenreResponse">
        SELECT
        g.id, g.name, g.slug, g.color_hex, g.is_fiction
        FROM genres g
        INNER JOIN book_genres bg ON g.id = bg.genre_id
        WHERE bg.book_id = #{bookId}
    </select>

</mapper>
